html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

main {
    padding-top: 30px;
    padding-bottom: 57px;
    box-sizing: border-box;
}

.content {
    min-height: calc(100% - 30px - 57px);
}

.content-with-source-chooser {
    min-height: calc(100% - 30px - 57px - 20px);
}

.header {
    text-align: center;
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
}

.header-with-source-chooser {
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-color: #ffffff90;
}

ul {
    margin: 0;
    padding: 0;
}

.ms-welcome__main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 10px 20px;
}

.ms-welcome__main > h2 {
    width: 100%;
    text-align: center;
}
.ms-Button.ms-Button--hero .ms-Button-label {
    color: #0078d7;
}

b {
    font-weight: bold;
}

img.gif-preview {
    border-radius: 10%;
    height: 120px;
    margin-left: 3px;
    margin-right: 3px;
}

.gif-container {
    text-align: center;
}

.no-display {
    display: none;
}

a {
    color: #000000;
    text-decoration: none;
}

.source-no-display {
    display: none;
}

.source-chooser label,
.source-chooser input[type="checkbox"] {
  float: left;
}

#x-mark {
  float: right;
  margin-right: 5px;
}

